/* =========================
   Jellyfin Custom Branding
   ========================= */

body {
  outline: 10px solid red !important;
}

/* Verberg standaard Jellyfin logo's */
img[src*="jellyfin"],
.headerLogo,
.pageTitleWithLogo img {
  display: none !important;
}

/* Header logo (desktop) */
.layout-desktop .headerLeft {
  background-image: url("https://raw.githubusercontent.com/Masturberen/honingpot-branding/main/logo-light.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  padding-left: 160px;
  min-height: 48px;
}

/* Dark mode */
body.dark .layout-desktop .headerLeft {
  background-image: url("https://raw.githubusercontent.com/Masturberen/honingpot-branding/main/logo-dark.png");
}

/* Login pagina */
.loginPage .logoContainer {
  background-image: url("https://raw.githubusercontent.com/Masturberen/honingpot-branding/main/logo-light.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

body.dark .loginPage .logoContainer {
  background-image: url("https://raw.githubusercontent.com/Masturberen/honingpot-branding/main/logo-dark.png");
}

.loginPage .logoContainer img {
  display: none !important;
}

/* Sidebar (mobiel/tablet) */
.navDrawerHeader {
  background-image: url("https://raw.githubusercontent.com/Masturberen/honingpot-branding/main/logo-light.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

body.dark .navDrawerHeader {
  background-image: url("https://raw.githubusercontent.com/Masturberen/honingpot-branding/main/logo-dark.png");
}

.navDrawerHeader img {
  display: none !important;
}
